PORT=8080
MONGO_URI= mongodb://aamashansari446_db_user:Aamash%23828286@ac-5uzabyy-shard-00-00.olycjie.mongodb.net:27017,ac-5uzabyy-shard-00-01.olycjie.mongodb.net:27017,ac-5uzabyy-shard-00-02.olycjie.mongodb.net:27017/?ssl=true&replicaSet=atlas-fcha3m-shard-0&authSource=admin&retryWrites=true&w=majority&appName=Cluster0
JWT_SECURITY_KEY=ksdfasdlfsdf
CLIENT_URL=http://localhost:5173
CLOUDINARY_CLOUD_NAME=dbzzy3mak
CLOUDINARY_API_KEY=341284966428965
CLOUDINARY_API_SECRET=F5jbKYcjNtCdxjbY4_HgI3tZ2eg
REDIS_URL=redis://default:lqi4b9uJVgKvfauszn41SbU7ZjbIupq6@meat-cerise-canary-58184.db.redis.io:16733
