PORT=8080
MONGO_URI=your_mongodb_connection_string
JWT_SECURITY_KEY=your_jwt_secret
CLIENT_URL=http://localhost:5173
CLOUDINARY_CLOUD_NAME=dbzzy3mak
CLOUDINARY_API_KEY=341284966428965
CLOUDINARY_API_SECRET=F5jbKYcjNtCdxjbY4_HgI3tZ2eg
